.commentlist {
	padding: 0;
	li {
		border-bottom:darken($primary-light, 15%) solid 1px !important;
		.comment_container {
			.comment-text {
			    margin: 0 !important;
			    border: none !important;
			    padding:0 !important;
			}
		}
	}
}
.nutritional-info-container {
	background-color:white;
	border: darken($primary-light, 10%) solid 1px;
	padding:20px;
	h3 {
		margin-bottom:15px;
	}
	ul {
		list-style-type: none;
		margin:0;
		padding:0;
		li {
			font-size:14px;
			font-weight: $font-normal;
		}
	}
	.nutrition-table {
		width:100%;
		tr {
			border-bottom:$black solid 1px;
			td, th {
				padding:5px 0;
			}
			th {
				font-size:12px;
			}
		}
	}
	.nutrition-top {
		border-top:$black solid 8px;
		border-bottom:$black solid 3px;
	}
}