.btn, .button {
	text-transform:uppercase;
	border-radius:2px !important;
	border:none !important;
	font-weight:$font-normal !important;
}
.button, .submit {
	background-color:$primary !important;
	color:white !important;
}
.btn-default {
	color:$primary;
}