body {
	font-family: 'Open Sans', sans-serif;
	color:$default-text-color;
    letter-spacing: -0.3px;
    background-color: white;
}
main {padding-top:60px;}
.frame {
	position:fixed;
	top:0;
	left:0;
	height:100vh;
	width:100%;
	z-index:999;
	pointer-events:none;
}
.row.no-gutters {
	margin-right: 0;
	margin-left: 0;
	& > [class^="col-"],
	& > [class*=" col-"] {
		padding-right: 0;
		padding-left: 0;
	}
}

.background-primary {background-color:$primary;}
.background-primary-light {background-color:$primary-light;}
.background-primary-dark {background-color:$primary-dark;}
.background-primary-alt-1 {background-color:$primary-alt-1;}
.background-primary-alt-1-light {background-color:$primary-alt-1-light;}
.background-primary-alt-1-dark {background-color:$primary-alt-1-dark;}
.background-primary-alt-2 {background-color:$primary-alt-2;}
.background-primary-alt-2-light {background-color:$primary-alt-2-light;}
.background-primary-alt-2-dark {background-color:$primary-alt-2-dark;}
.background-primary-alt-3 {background-color:$primary-alt-3;}
.background-primary-alt-3-light {background-color:$primary-alt-3-light;}
.background-primary-alt-3-dark {background-color:$primary-alt-3-dark;}
.background-secondary {background-color:$secondary;}
.background-secondary-light {background-color:$secondary-light;}
.background-secondary-dark {background-color:$secondary-dark;}
.background-warning {background-color:$warning;}
.background-warning-light {background-color:$warning-light;}
.background-warning-dark {background-color:$warning-dark;}
.background-error {background-color:$error;}
.background-error-light {background-color:$error-light;}
.background-error-dark {background-color:$error-dark;}
.background-success {background-color:$success;}
.background-success-light {background-color:$success-light;}
.background-success-dark {background-color:$success-dark;}
.background-light-grey-4 {background-color:$light-grey-4;}
.background-light-grey-5 {background-color:$light-grey-5;}
.background-white {background-color:white;}
.background-black {background-color:$black;}

.color-white {
	color:white;
}

//margins
.margin-bottom-0 {
	margin-bottom:0;
}
.margin-bottom-5 {
    margin-bottom:5px;
}
.margin-bottom-10 {
    margin-bottom:10px;
}
.margin-bottom-15 {
	margin-bottom:15px;
}
.margin-top-15 {
    margin-top:15px;
}
.margin-bottom-sm-15 {
	margin-bottom:15px;
}
.margin-bottom-30 {
	margin-bottom:30px;
}
.margin-top-30 {
    margin-top:30px;
}
.margin-bottom-sm-30 {
	margin-bottom:30px;
}
.margin-bottom-45 {
	margin-bottom:45px;
}
.margin-top-45 {
    margin-top:45px;
}
.margin-bottom-sm-45 {
	margin-bottom:45px;
}
.margin-bottom-60 {
	margin-bottom:60px;
}
.margin-top-60 {
    margin-top:60px;
}
.margin-bottom-sm-60 {
	margin-bottom:60px;
}

// Padding
.section-padding {
	padding:80px 0;
}
.page-padding {
	padding-top:90px;
	padding-bottom:60px;
}
.padding-15 {
	padding:15px;
}
.padding-30 {
	padding:30px;
}
.padding-60 {
	padding:60px;
}
.padding-top-15 {
	padding-top:15px;
}
.padding-top-30 {
	padding-top:30px
}
.padding-top-60 {
	padding-top:60px;
}
.padding-bottom-15 {
	padding-bottom:15px;
}
.padding-bottom-30 {
	padding-bottom:30px;
}
.padding-bottom-60 {
	padding-bottom:60px;
}

.vertical-center{
    position: absolute;
    top:50%;
    left: 0%;
    transform:translate(0%, -50%);
    -webkit-transform:translate(0%, -50%);
    width:100%;
}


/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	    color: $black;
	    margin-top:0;
	}
	h1, h2, h3 {
		font-weight: $font-light;
	}
	h1 {		
		letter-spacing:-1px;
		font-size: 36px;		
		margin-bottom:1em;
	}
	h2 {		
		letter-spacing:-1px;
		font-size: 30px;		
		margin-bottom:1em;
	}
	h3 {
		font-size: 24px;
		margin-bottom:1.3em;
	}
	h4 {
		font-size: 18px;
		margin-bottom:1.4em;
	}
	h5 {
		font-size: 16px;
		margin-bottom:1.5em;
	}
	p, li {
		font-weight:$font-light;
		font-size:14px;
		line-height: 1.5em;
	}
	ul, p, blockquote {
		margin-bottom:1.5em;
	}
	ul, ol {
		padding-left:20px;
	}
	a {
		color:$primary;
		cursor: pointer;
	}
    a.link-black {
        color:$black;
    }
	a:hover {
		color:$primary-dark;
		text-decoration:none;
	}
	hr {
	    border-top: 5px solid $light-grey-4;
	    margin:30px 0;
	}  
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	h1 {		
		font-size: 38px;
	}
	h2 {
		font-size: 32px;
	}
	h3 {
		font-size: 26px;
	}
	h4 {
		font-size: 20px;
	}
	h5 {
		font-size: 18px;
	}
	p, li {
		font-size:16px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {	
	h1 {		
		font-size: 40px;
	}
	h2 {
		font-size: 34px;
	}
	h3 {
		font-size: 28px;
	}
	h4 {
		font-size: 22px;
	}
	h5 {
		font-size: 20px;
	}
	p, li {
		font-size:18px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
























